
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }} Details</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p><strong>Description:</strong> {{ movie.description }}</p>
    <p><strong>Director:</strong> {{ movie.director }}</p>
    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
    <p><strong>User rating:</strong> {{ movie.user_rating }}</p>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Cover image:</strong> {{ movie.cover_image }}</p>

    <!-- Add other details -->
</body>
</html>
